#four {
	background-color: #6E9A33;
	color: #FFF;
}

#three {
	background-color: #F0F0F0;
}

#two {
	background-color: #3E879E;
	color: #FFF;
}

#one {
	background-color: #57524D;
	color: #FFF;
}

#zero {
	background-color: #695E53;
	color: #FFF;
}